{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Delete Details of Employee</title>
{% endblock title %}

{% block main %}
<div class="d-flex justify-content-center">
    <h3 class="my-3 p-2 bg-danger bg-gradient text-light w-75 text-center rounded-1">Edit Or Delete Employee Detail's</h3 style="--bs-bg-opacity: .5;">
</div>


<form action="{% url 'rm' %}" method="POST" class="">
    {% csrf_token %}
    <div class="d-flex justify-content-center py-2">
      <input class="form-control w-50 px-3 mx-3 border border-danger fw-bold" type="text" name="empid" placeholder="Emp ID/ First or Last Name / Department" style="text-transform:capitalize">
      <button class="btn btn-sm btn-danger">Search</button>
    </div>
  </form> 
  
  <div class="container-md mt-1 py-2 ">
    {% if data %}
    <table class="table table-striped text-center table-danger table-bordered border-danger">
        <tr class="">
            <th>Sr no.</th>
            <th>Emp id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Dept</th>          
            <th>Role</th> 
            <th>Location</th> 
            <th>Phone</th>
            <th>Joining Date</th>
            <th>Action</th>
        </tr>
        
        {% for dt in data %}
            <tr class="">
                <td>{{ forloop.counter }}</td>
                <td class="fw-bold">{{ dt.id }}</td>
                <td class="fw-bold">{{ dt.firstName|capfirst  }}</td>
                <td class="fw-bold">{{ dt.lastName|capfirst  }}</td>
                <td>{{ dt.salary }}</td>
                <td>{{ dt.dept.name }}</td>
                <td>{{ dt.role.name }}</td>
                <td>{{ dt.dept.location }}</td>
                <td>{{ dt.phone }}</td>
                <td>{{ dt.hireDate }}</td>
                <td><a href="{% url 'upEmp' dt.id 0 %}" data.id ><button class="btn btn-sm btn-danger "><i class="bi bi-pencil-square"></i> Edit</button></a></td>
            </tr>
        {% endfor %}


    </table>
  
    {% else %}
      <h3 class="text-center">Not available!</h3>
      <div class="text-center">
        <img src="{% static 'images/notFound.jpg' %}" class="rounded img-fluid h-auto w-50" alt="img" > 
      </div>
    {% endif %}
  </div>
  
{% endblock main %}



